*{
    margin: 0;
    padding:0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgba(0, 0, 0,1);
    padding: 1.5rem 1rem;
    position: sticky;
    top: 0;
    gap:3rem;
    z-index: 999;
}
nav a{
    text-decoration: none;
    /* padding:0.5rem;
    margin: 0 1rem; */
   color: whitesmoke;
   font-size: 1.2rem;
   /* background: linear-gradient(to right, rgb(255, 166, 0),rgb(255, 217, 140));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; */
}
nav a:hover{
    color: rgb(148, 14, 141);
 }
.active{
    /* background:rgb(219, 143, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(148, 14, 141);
   font-weight: bold;
}

@media screen and (min-width:300px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgba(0, 0, 0,1);
        padding: 1.5rem 1rem;
        position: sticky;
        top: 0;
        gap:2rem;
        z-index: 999;
    }
    nav a{
        text-decoration: none;
       color: whitesmoke;
       font-size: 1.2rem;
      
    }
}