*{
   box-sizing: border-box;
   font-family: 'Roboto Mono', monospace;
}
body{
    margin: 0;
    padding: 0;
    background: black;
}
body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
 
header{ 
    /* background: black; */
    height: fit-content;
    position: relative;
    padding-bottom: 0rem;
}

.hero{
    margin: 2rem 0 0 0;
    text-align: center;
    color: whitesmoke;
    height: 100%;
}
.hero h1{
    padding: 2.5rem 0;
    font-size: 5rem; 
    text-shadow:0px 0px 80px rgb(13, 87, 87); 
}
.hero h2{
    color: rgb(148, 14, 141);
    padding: 3rem 0 1rem 0;
    
}
.socialMedia a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.socialMedia a:hover {
    text-decoration: none;
    color: rgb(148, 14, 141);
    transition: color 400ms;
    transition-timing-function: ease-ease;
}

.socialMedia span{
    padding: 1rem;
}
.hireme{
    text-align: center;
    width: 80px;
    height: 40px;
    background: rgb(11, 43, 133);
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-top: 0.4rem;
    border-radius: 3px;
}
.hireme:hover{
    background: rgb(8, 34, 104);
    transition: all 600ms;
}
.hireme a{
    text-decoration: none;
    font-size: 1.2rem;
    color: whitesmoke;
}
.circle{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 500px;
    opacity: 0.5;
    border-radius: 50%;
    background: cyan;
    animation: roam 7000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transition: animation 5s;
}
.circle2{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px;
    background: cyan;
    animation: roam 5000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transition: animation 5s;
    opacity: 0.5;border-radius: 50%;
}
.circle1{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50px;
    background: cyan;
    animation: roam 8000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transition: animation 5s;
    opacity: 0.5;border-radius: 50%;
}

@keyframes roam{
    0%{
        transform:  translate(0,0) rotate(0deg);    
        
    }
    25%{
        transform:  translate(0,-400px) rotate(90deg);
        background: pink;   
    }
    50%{
        transform: translate(600px,-400px ) rotate(180deg);
        background: rgb(251, 255, 4);       
    }
    75%{
        transform: translate(600px,0px) rotate(270deg);
        background: rgb(1, 192, 42);  
    }
    100%{
        transform:  translate(0) rotate(360deg) ;
        background: rgb(255, 0, 242);
       
    }
   
}