*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
 }
 body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
 body{
     margin: 0;
     padding: 0;
     background: black;
    
 }
 /* header{
    background: black;
     height:fit-content;
     position: relative;
 } */

 .projectHeading{
     color:rgb(245, 245, 245) ;
     text-align: center;
     padding: 0.5rem 0rem;
 }
.projects{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em; 
}
 .projects h3{
    color: whitesmoke;
    padding: 0 1rem;
 }
 .projects button{
     border: none;
     background: orange;
     padding: 0.5rem 1rem;
     margin: 1rem;
     box-shadow: 0px 0px 90px rgb(133, 133, 133);
 }
 .projects button a{
     text-decoration: none;
     color: white;
     font-size: 1.1rem;
     
 }
 .projects div{
     background: linear-gradient(to right, rgb(250, 61, 218),rgb(72, 200, 200), blue);
     backdrop-filter :blur(70px);
     /* border: 0.5px solid gray; */
     width: 500px;
     margin: 0.5rem;
     z-index: 9;
 }
 .projects div:hover{
    box-shadow: 0px 0px 40px -5px blue;
    transition: box-shadow 800ms;
 }
 .projects div img{
     max-width: 100%;
 }
 .projects div img:hover{
    transform: scale(0.99);
    transition: transform 500ms;
    
}

#wpac-comment{
   margin: 0 auto;
   padding: 0 5rem;
}