*{
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
 }
 body::-webkit-scrollbar {
    width: 0px;               /* width of the entire scrollbar */
  }
 body{
     margin: 0;
     padding: 0;
     
 }
 header{
   background: black;
     height:fit-content;
     position: relative;
 }
 .contactHeading{
     text-align: center;
     margin: 0.5rem;
     font-size: 1.5rem;
     text-shadow:0px 0px 80px cyan;
     color: whitesmoke;
    
 }
 #contact{
     display:flex;
     flex-direction: column;
     padding: 1rem;
     align-items: flex-start;
 }
 #contact .input{
     color: whitesmoke;
     font-size: 1rem;
     width: 500px;
     padding: 1rem;
     margin: 1rem auto;
     background: black; 
     border: none;
     border-width: 2px;
     border-style: solid;
     border-image: linear-gradient(to right, darkblue, darkorchid) 1;
     resize: none;
     

 }
 #contact .input:focus{
   outline: none;
   box-shadow: 0px 0px 40px -5px blue;
   border: none;
   border-width: 2px;
     border-style: solid;
     border-image: linear-gradient(to right,darkorchid, darkblue) 1;
   color: whitesmoke;
   font-size: 1rem;
   
}
#contact .input::placeholder{
    color: gray;
    font-size: 1rem;
 }

 #contact input[type="submit"]{
   font-size: 1rem;
   background: linear-gradient(to right, rgb(250, 61, 218),rgb(72, 200, 200), blue);
   backdrop-filter :blur(70px);
   border: none;
   cursor: pointer;
   font-weight: bold;
  
   
}