body{
    background: linear-gradient(to right, rgba(0,0,0,1) 50%,black);
    background-blend-mode: darken;
    background-size: cover;
}

  .aboutHeading{
      color: rgb(148, 14, 141);
      text-align: center;
      padding: 1rem;
      margin-top: 3rem;
      
  }
  .aboutDescription{
      display: flex;
      gap: 1rem;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 2em;
      margin: 0 3rem 0 0;
  }
  .aboutDescription p{
      color: rgb(175, 191, 202);
      font-size: 1.2rem;
      padding: 0 2rem;
      
  }
  .aboutDescription img{
    border-radius: 50%;
    filter:contrast(1.5);
    border-left: 8px solid red;
   
}
.aboutDescription img:hover{
    filter: unset;
    box-shadow: 0px 0px 50px rgb(0, 0, 93);
   
}
.skillset{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 8rem;
}
.skillset p{
    /* color: rgb(53, 50, 243); */
    color: rgb(175, 191, 202);
    font-weight: bold;
    font-size: 1.2rem;
}
.interest{
    color: rgb(230, 187, 0);text-align: center;margin: 2rem 0 0 1rem;
}
.hireme{
    text-align: center;
    margin: 1.5rem 0 ;
}
.hireme button{
    background: rgb(53, 50, 243);
    padding: 0.5rem 1rem;    
    border: none;
}
.hireme button a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}